In [2]:
!which python3

/usr/bin/python3

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import os
os.environ['PYSPARK_PYTHON']='/usr/bin/python3'

In [7]:
Jiyad_Spark_Context = SparkSession\
    .builder \
    .appName("JiyadKhan") \
    .config("spark.mongodb.input.uri","mongodb://127.0.0.1:27017/JiyadKhan.i19-1771") \
    .config("spark.mongodb.output.uri","mongodb://127.0.0.1:27017/JiyadKhan.i19-1771") \
    .config('spark.jars.packages','org.mongodb.spark:mongo-spark-connector_2.12:3.0.0')\
    .getOrCreate()

In [9]:
Jiyad_Spark_Context

In [10]:
absolute_file_path="students.csv"

In [11]:
Jiyad_Spark_Context=SparkSession.builder.appName("CSV to DB").master("local").getOrCreate()

In [12]:
df=Jiyad_Spark_Context.read.csv(header=True,inferSchema=True,path=absolute_file_path)

In [13]:
df.head(5)

[Row(lname='DC', fname='Musa'),
 Row(lname='Wadood', fname='Ahmed'),
 Row(lname='Kamal', fname='Ali'),
 Row(lname='Mansoor', fname='Shayan'),
 Row(lname='Athar', fname='Mahreen')]

In [14]:
df=df.withColumn("name",F.concat(F.col("fname"),F.lit(", "),F.col("lname")))

In [15]:
df.head(5)

[Row(lname='DC', fname='Musa', name='Musa, DC'),
 Row(lname='Wadood', fname='Ahmed', name='Ahmed, Wadood'),
 Row(lname='Kamal', fname='Ali', name='Ali, Kamal'),
 Row(lname='Mansoor', fname='Shayan', name='Shayan, Mansoor'),
 Row(lname='Athar', fname='Mahreen', name='Mahreen, Athar')]

In [16]:
df.write.format("mongo").mode("append").save()

In [17]:
new_df=Jiyad_Spark_Context.read.format("mongo").load()

In [18]:
new_df.head(5)

[Row(_id=Row(oid='60b54f397a0f7d19d2e27c93'), fname='Musa', lname='DC', name='Musa, DC'),
 Row(_id=Row(oid='60b54f397a0f7d19d2e27c94'), fname='Ahmed', lname='Wadood', name='Ahmed, Wadood'),
 Row(_id=Row(oid='60b54f397a0f7d19d2e27c95'), fname='Ali', lname='Kamal', name='Ali, Kamal'),
 Row(_id=Row(oid='60b54f397a0f7d19d2e27c96'), fname='Shayan', lname='Mansoor', name='Shayan, Mansoor'),
 Row(_id=Row(oid='60b54f397a0f7d19d2e27c97'), fname='Mahreen', lname='Athar', name='Mahreen, Athar')]

In [19]:
new_df.show()

+--------------------+---------+-------+-----------------+
|                 _id|    fname|  lname|             name|
+--------------------+---------+-------+-----------------+
|{60b54f397a0f7d19...|     Musa|     DC|         Musa, DC|
|{60b54f397a0f7d19...|    Ahmed| Wadood|    Ahmed, Wadood|
|{60b54f397a0f7d19...|      Ali|  Kamal|       Ali, Kamal|
|{60b54f397a0f7d19...|   Shayan|Mansoor|  Shayan, Mansoor|
|{60b54f397a0f7d19...|  Mahreen|  Athar|   Mahreen, Athar|
|{60b54f397a0f7d19...|Saifullah| Rahool|Saifullah, Rahool|
|{60b54f397a0f7d19...|    Arsal|  Ahmad|     Arsal, Ahmad|
+--------------------+---------+-------+-----------------+

In [21]:
Jiyad_Spark_Context.stop()